* {
    margin: 0;
    padding: 0;
}

.icon:before
{
    content: "";
    display: block;
    content: url("logo-oracle.png");
    width: 150px;
    height: 20px;
    float: left;
    margin-right: 1px;
}
